.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%); //cambia el color del icono de la luna de negro a blanco

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center; /*centar el icono haburguesa*/

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; 


        img {  /*mostrar el logo bienes raices en firefox*/
            margin-top: 2rem;           
            width: 30rem;            
            height: auto;   
        } 
    }
    img {             /*mostrar el logo bienes raices en firefox*/
        margin-top: 2rem;
        width: 30rem;            
        height: auto;    
    }
}

.navegacion {

    visibility: hidden; /*no aparece la navegacion en mobile*/
    opacity: 0; //transparencia
    height: 0; //cuando esta el menu hamburguesa no quede con un altura fija q es grande y se ve feo
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
   
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block; /*tomen todo el ancho disponibe de arriba hacia abajo en celucos*/
        text-align: center;
        &:hover{           
            color: $verde;
        }

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
}

/**menu hamburguesa**/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
  visibility: visible; //q se vea la navegacion
  opacity: 1;
  height: auto; //altura con el menu desplegado
}